{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer l'equipement</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <main>
        {% include 'sidebar.html' %}
        <div class="container-fluid">
            <div class="card shadow-sm p-5">
                <h2 class="mb-4">Supprimer l'equipement</h2>
                    <p>Voulez-vous supprimer l'equipement n°{{ equipment.id }} de designation {{ equipment.designation}} ?</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex gap-3">
                        <button type="submit" class="btn btn-danger px-4">Supprimer</button>
                        <a href="{% url 'dashboard' %}" class="btn btn-secondary px-4">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {% bootstrap_javascript %}
</body>
</html>

