{% load static %}
<nav class="bg-dark sidebar">
    <div class="sidebar-sticky p-4">
        <img src="{% static 'images/logo.svg' %}" alt="Ministère du Transport et de la Logistique" class="ministry-logo-img">
        <ul class="nav flex-column">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link text-white {% if request.path == '/users/' %}active{% endif %}" href="{% url 'user_list' %}">
                            Gestion des Utilisateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% if 'stock' in request.path %}active{% endif %}" href="{% url 'stock' %}">
                            Stock
                        </a>
                    </li>
                {% elif user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link text-white {% if 'stock' in request.path %}active{% endif %}" href="{% url 'stock' %}">
                            Stock
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% if request.path == '/equipement/' %}active{% endif %}" href="{% url 'gestion_equipement' %}">
                            Gestion d'Équipement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% if request.path == '/affectation/' %}active{% endif %}" href="{% url 'gestion_affectation' %}">
                            Gestion des Affectations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% if 'notifications' in request.path %}active{% endif %}" href="{% url 'notifications' %}">
                            Notifications
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white {% if 'mes_equipements' in request.path %}active{% endif %}" href="{% url 'mes_equipements' %}">
                            Mes Équipements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% if 'demande_equipement/nouveau' in request.path %}active{% endif %}" href="{% url 'demande_equipement_create' %}">
                            Demande d'Équipement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {% if 'demande_intervention/nouveau' in request.path %}active{% endif %}" href="{% url 'demande_intervention_create' %}">
                            Demande d'Intervention
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}">
                        Déconnexion
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white {% if 'connexion' in request.path %}active{% endif %}" href="{% url 'login' %}">
                        Connexion
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
